h1 {
	text-align: center;
	color: #00ccff;
	font-family: 'Permanent Marker', cursive;
	font-size: 40px;

}

h2 {
	text-align: center;
	color: #00ccff;
	font-family: 'Caveat Brush', cursive;
	font-size: 50px;

}

body {
    background-image: url("4.jpg"), url("5.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 50%;
    background-position: top left, bottom right;
}



ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: #333;
}


a{
	text-decoration: none;
	color: #00ccff;
}
